<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ScoreListPeli.ScoreListPeli" android:versionCode="1" android:installLocation="auto" android:versionName="0.85 Beta">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" />
	<application android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" android:label="Clicky Fruitmix 3000" android:icon="@drawable/Icon"></application>
</manifest>